p{
  margin-top: 0;
  margin-bottom: 0;
 }
 body{
  font-family: roboto,arial;
  padding-top: 90px;
  padding-left: 92px;
  padding-right: 22px;
  background-color: rgb(247, 247, 247);
  padding-bottom: 500px;
 }